@inherits LayoutComponentBase

<div class="page d-flex justify-content-center text-center">
    <main>
        @* <article class="content px-4"> *@
            @Body
        @* </article> *@
    </main>
</div>
